# Chặn file chứa mật khẩu (Quan trọng nhất)
.env

# Chặn các file rác của Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Chặn file log hoạt động (để tránh lộ dữ liệu giao dịch)
*.log

# Chặn file cấu hình riêng của IDE
.vscode/
.idea/